*{
    color: #eee;
}
body{
    background-color: #222;
}
h2{
    /* color: #0B2447; */
}
/* CSS HEADER */
.navegacion, .pie{
    display: flex;
    height: 8vh;
    background-color: #111;
    justify-content: space-around;
    align-items: center;
    
}
.sarasa{
    margin-left: 0px;
}
.logo{
    margin-left: 4vw;
    height: 6vh;
}
/* FALTA RELATIVIZAR MEDIDAS LOGO */
.busqueda input{
    height: 2.5vh;
    width: 30vw;
    justify-content: center;
    border-radius: 9px;
}
.enlaces{
    margin-right: 4vw;
}
.enlaces a{
    text-decoration: none;
}
.enlaces a:link{
    color: currentColor;
}
.enlaces a:visited{
    color:currentColor;
}

.enlaces li{
    font-size: 1.5em;
    display: inline;
    margin: 0 10px;
}

/* CSS MAIN */

.highlights{
    margin: 3%;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
}
.titulares {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    width: 90%;
    height: 30%
    
}
.movie-highligh{
    padding: 10px;
}
.movie-highligh img{
    width: 15vw;
    margin: 1%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    transition: 100ms;
    
}
.movie-highligh img:hover{
    width: 18vw;
}
.titulares:hover{
   /*  height: 32%; */
}
/* PENDIENTE ZOOM*/
.seccion-estreno h2{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    margin: 3%;
}
.estrenos{
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    height: 250px;
    width: 20%;
    background-color: #555;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}
.estrenos:hover .btn{
    display: flex;
}
.seccion-estreno ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.seccion-estreno p{
    margin: 100px;
    /* color: #0B2447; */
}

.btn {
    margin: 50px;
    display: none;
    background: #1a5075;
    background-image: -webkit-linear-gradient(top, #1a5075, #000000);
    background-image: -moz-linear-gradient(top, #1a5075, #000000);
    background-image: -ms-linear-gradient(top, #1a5075, #000000);
    background-image: -o-linear-gradient(top, #1a5075, #000000);
    background-image: linear-gradient(to bottom, #1a5075, #000000);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #666666;
    -webkit-box-shadow: 2px 3px 3px #000000;
    -moz-box-shadow: 2px 3px 3px #000000;
    box-shadow: 2px 3px 3px #000000;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #356c8f;
    background-image: -webkit-linear-gradient(top, #356c8f, #17496b);
    background-image: -moz-linear-gradient(top, #356c8f, #17496b);
    background-image: -ms-linear-gradient(top, #356c8f, #17496b);
    background-image: -o-linear-gradient(top, #356c8f, #17496b);
    background-image: linear-gradient(to bottom, #356c8f, #17496b);
    text-decoration: none;
  }


