:root{
    --review-width:16em;
    --color-texto:#FFFFFF;
    --hover-color:#5599BB;
    --color-fondo:black;
}

html{
    box-sizing: border-box
}

body{
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: 'VT323', 'Roboto', sans-serif;
    font-size:1em;
    text-align: center;
}


.boton-atras, .boton-adelante{
    background-color: var(--color-fondo);
    color: var(--color-texto);
    border: #000000;
    height:4em;
    width:4em;

}
/* 
.boton-atras:hover, .boton-adelante:hover{
    background-color:var(--hover-color);
    transition: 0.5s;
} */

.boton-atras:active, .boton-adelante:active{
    animation: parpadeo 0.1s linear 3;
}

@keyframes parpadeo {
    0% {background-color: var(--hover-color)}
    50% {opacity:0}
}



.titulo{
    display:inline;
}

.portada-highlight{
    width:var(--review-width)
}

.review{
    width:var(--review-width);
    margin: auto;
}


#destacados{
    display:grid;
    grid-template-areas: "nombre-seccion nombre-seccion nombre-seccion"
                         "atras titulo adelante"
                         "portada portada portada"
                         "review review review"
}

.nombre-seccion{grid-area:nombre-seccion}
.boton-atras{grid-area:atras;}
.titulo{grid-area:titulo}
.boton-adelante{grid-area:adelante}
.portada{grid-area:portada}
.review{grid-area:review} */

.boton-atras, .boton-adelante{
    background-color:black;
    border-style: none;
    color:var(--color-texto);
    font-size: 3em;
    width: 1.8em;
}
