:root{
    --review-width:16em;
    --color-texto:#FFFFFF;
    --hover-color:#5599BB;
    --color-fondo:black;
}

html{
    box-sizing: border-box
}

body{
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: 'VT323', 'Roboto', sans-serif;
    font-size:1em
}


header{padding: 2em 0 2em;
    padding:0;
    text-align: center
}

.contenedor-enlaces{
    box-sizing: border-box;
    margin:auto;
    width:20%;
    min-width: 12em
}


li a{
    display:block;
    text-decoration: none;
    color: var(--color-texto)
}

li a:hover, .boton-atras:hover, .boton-adelante:hover{
    background-color:var(--hover-color);
    transition: 0.5s;
}


li a:active, .boton-atras:active, .boton-adelante:active{
    animation: parpadeo 0.1s linear 2;
}

@keyframes parpadeo {
    50% {opacity:0}
}

ul{
    list-style-type: none;
    padding-left:0
}

ul li a{
    width: 100%
}

.link-home{
    display: block;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: black;
    text-decoration: none;
}

.logotipo, .isotipo{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height:5em
}

main{
    text-align: center
}

.formulario-busqueda{
    padding: 1em 0
}

.busqueda{
    width:20%;
    min-width:12em
}


#destacados{
    display:grid;
    grid-template-areas: "nombre-seccion nombre-seccion nombre-seccion"
                         "atras titulo adelante"
                         "portada portada portada"
                         "review review review"
}

.nombre-seccion{grid-area:nombre-seccion}
.boton-atras{grid-area:atras;}
.titulo{grid-area:titulo}
.boton-adelante{grid-area:adelante}
.portada{grid-area:portada}
.review{grid-area:review}

.boton-atras, .boton-adelante{
    background-color:black;
    border-style: none;
    color:var(--color-texto);
    font-size: 3em;
    width: 1.8em;
}

.titulo{
    display:inline;
}

.portada-highlight{
    width:var(--review-width)
}

.review{
    width:var(--review-width);
    margin: auto;
}

footer{
    margin-top: 8em;
    margin-bottom: 10em;
    text-align: center;
}
